@media screen and (min-width: 576px){ 
  #navegador{
    background-color: aqua;
  }

  
}




@media screen and (max-width: 768px){ 

  #navegador{

    background-color: rgb(255, 0, 0);

  }
  .fotohm{
    display: none;
  }
  
 
 main{ .gallery-container{
   
    grid-template-columns: repeat(2, 4fr);

    grid-auto-rows: 50%;



    }

    .gallery__hombre{

      width: 100%;

      height: 100%;

      object-fit: cover;

  }
  .gallery__mujer{

      width: 100%;

      height: 100%;

      object-fit: cover;

  }
  
  

 }

 }

